// Importing all members from the '../util' module to use in this stylesheet
@use '../util' as *;

// Style rules for the .container class
.container {
    // Sets padding using the rem(25) function from '../util'
    // Sets the maximum width using the rem(1110) function from '../util'
    padding: 0 rem(25);
    max-width: rem(1110);
    margin: 0 auto rem(46);

    // Applies a style rule when the viewport is at least $large wide (a variable from '../util')
    @include breakpoint(lg) {
        padding: 0; 
    }
}